<div class="container" *ngIf="profileData">
    <br><br>
    <div class="row text-center">
      <div class="col-sm-12"><h2>{{profileData.name}}'s {{ 'ngrxtmp.profile.title' | translate }}</h2></div>
    </div>
    <br>
    <ng-container>
      <div class="row text-center">
        <div class="col-sm-12">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of imageData">
              <div class="picsum-img-wrapper">
                <img src="{{image.download_url}}" alt="{{image.name}}">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <!-- <div class="col-sm-12" *ngFor="let image of imageData">
          <img src="{{image.download_url}}" alt="{{image.name}}">
          <br><br>
        </div> -->
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
          <h3>
            <mat-icon color="accent"><fa-icon icon="code" color="accent"></fa-icon></mat-icon> 
            &nbsp;{{ 'ngrxtmp.profile.lang' | translate }}
          </h3>
          <div class="icon-form-field">
            <ul>
                <li *ngFor="let language of profileData.languages">
                    {{language}}
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
            <h3>
              <mat-icon color="accent"><fa-icon icon="wrench" color="accent"></fa-icon></mat-icon>
              {{ 'ngrxtmp.profile.tech' | translate }}
            </h3>
            <div class="icon-form-field">
              <ul>
                  <li *ngFor="let technology of profileData.technologies">
                      {{technology}}
                  </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
            <h3>
              <mat-icon color="accent"><fa-icon icon="code-branch" color="accent"></fa-icon></mat-icon>
              {{ 'ngrxtmp.profile.repos' | translate }}
            </h3>
            <mat-card class="mat-card" *ngFor="let repo of profileData.repos">
                <mat-card-title>
                  <a href="{{'https://github.com/mmuzio/'+repo.url}}" target="_blank" rel="noopener noreferrer">
                    <fa-icon [icon]="['fab','github']"></fa-icon>
                    {{repo.url}}
                  </a>
                </mat-card-title>
                <mat-card-content>{{repo.description}}</mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
            <div class="actions">
              <button
               mat-raised-button 
               class="actions-main" 
               color="accent" 
               [ngClass]="routeAnimationsElements"
               (click)="acceptUser()">
               <fa-icon icon="thumbs-up"></fa-icon>
              </button>
              <button
               mat-raised-button 
               class="actions-main" 
               color="warn" 
               [ngClass]="routeAnimationsElements"
               (click)="rejectUser()">
                <fa-icon icon="thumbs-down"></fa-icon>
              </button>
            </div>
          </div>
      </div>
    </ng-container>
  </div>
